@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display:flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.header-link{
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding:10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}